@font-face {
    font-family: upp;
 src=url(Radley-Regular.ttf)
}
*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif ;
}
body{
    background-color:#0E252A;

}
.start{
    background-image: url(tło.jpg);
    background-position: center;
    background-size: 170vh;
    width: 100vw;
    height: 95vh;
    padding-top:11vh ;
    padding-left: 5vh;
}
.start .dt{
    font-size: 14vw;
    color: #FCD279 ;
    font-family: upp;
    letter-spacing: 0.02em;
    font-weight: 400;
}

.start .mt {
    font-size: 6.2vw;
    color: #ECD5A4;
    font-family: upp;
    letter-spacing: 0.02em;
    width: 80vw;
    
}


.navbar {
    overflow: hidden;
    background-color: #2D2D2D;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0.89;
    text-align: center;
    color: #FEE4AC;
    height: 80px;
    font-size: 37px;
    font: 'Merriweather Sans';
    padding: 20px;
    padding-top: 35px;
  }
.navbar a{
    margin: 6.5vw;
}

.tbar {
    overflow: hidden;
    background-color: #2D2D2D;
    position: fixed;
    top: 0;
    width: 150vw;
    opacity: 0.89;
    height: 110px;
   
  }

.tbar img{
    padding: 7.5px;
    width: 85px;
    height: 85px;
}
.kop  {
    display:block;
    height: 90vh;
}
.kop img{
    width: 75vw;
    
}
.wkra {
    font-size: 5.8vw;
    color: #ECD5A4;
    font-family: upp;
    letter-spacing: 0.02em;
    width: 98vw;
    text-align: center;
    padding-left: 6vw;
    padding-top: 8vw;
    padding-bottom: 4vw;

}

.tekstowo {
    font-size: 3.6vw;
    color: #D8CDB3;
    font-family: upp;
    letter-spacing: 0.1em;
    width: 60vw;
    text-align: justify;
    padding-left: 40vw;
    padding-top: 8vw;
    padding-bottom: 4vw;
    line-height: 181%;
}


.sky {
    border-radius: 7ch;
    background-color: #133137;
    filter: drop-shadow(1vh, 10vh, #000 );
    height: 80vh;
    width:90vw;
    margin-left: 11vw;
    margin-bottom: 20vh;
}

.sky p {
    font-size: 8vw;
    color: #ffd36b;
    font-family: upp;
    letter-spacing: 0.1em;
    width: 60vw;
    text-align: center;
    padding-left: 14vw;
    padding-top: 2vw;
    padding-bottom: 4vw;
    line-height: 181%;
} 
.sky img {
    height: 30%;
    margin-top: 5vh;
    margin-left:35% ;
    rotate: z 22deg;
}