*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
body{
    background-color:#0E252A;
}
.navbar {
    overflow: hidden;
    background-color: #2D2D2D;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0.89;
    text-align: center;
    color: #FEE4AC;
    height: 50px;
  }
.navbar a{
    margin: 10px;
}

.tbar {
    overflow: hidden;
    background-color: #2D2D2D;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.89;
    font-size: 14;
    font: 'Merriweather Sans';
  }

.tbar img{
    width: 39px;
    height: 39px;
}